{% extends 'layouts/blank.html' %}

{% block content %} 

<div class="max-w-4xl mx-auto px-8 py-24">
    <div class="grid grid-cols-3 gap-6">
        <div class="col-span-2 rounded-xl overflow-hidden">
            <img class="w-full h-auto" src="{{ product.image}}"
        <div class="pt-32">
           <h2>{{ product.name }}</h2>
           <p class="text-lg">$ {{ product.price }}</p>

           <a href=" " class="button !block !rounded-full !bg-black hover: !bg-neutral-500 text-center">
              add to cart
           </a>
           
           <p class="pt-8 text-sm">{{ product.description }}</p>
           <p class="text-sm hover:underline"><a href="https://andreas-juds-store.creator-spring.com/listing/the-og-stack?product=790&variation=103520" target="_blank">Get it here</a></p>
        </div>
    </div>
</div>

{% endblock %}